<nav class="sidebar">
	<img class="logo" src="images/logo.png">
	<h1>Angel Wings Online Shop</h1>
	<ul class="main-nav">
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
	<div class="subscribe">
		<p>Subscribe to our news letter to get updated about our products.</p>
		<br>
		<div>
			<label>Your Email:
				<input class="input-text txt-prime" type="text" placeholder="e.g., example@domain.com">
			</label>
		</div>
		<input class="input-btn btn-primary" type="submit" value="Subscribe">
	</div>
	<footer>
		<ul>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Unsubscribe</a></li>
		</ul>
	</footer>
</nav>