.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background: rgba(0, 0, 0, 0.5);
}
.modal-wrapper .modal-overlay {
	background: #ffffff;
	padding: 10px;
	border-radius: 4px;
	z-index: 201;
	animation: grow 300ms;
	top: 50px;
	max-width: 400px;
}
.modal-wrapper .modal-overlay section {
	margin-bottom: 10px;
}
.modal-wrapper .modal-overlay section:last-child {
	margin-bottom: 0;
}
@keyframes grow{
	0% {
		top: -100%;
	}
	70% {
		top: 80px;
	}
	100% {
		top: 50px;
	}
}