.purchase-history-wrapper {
	position: fixed;
	bottom: 20px;
	right: 120px;
	width: 250px;
	z-index: 100;
	font-family: 'Roboto', sans-serif;
}
.toggle-purchase-history {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	height: auto;
	display: block;
	cursor: pointer;
}
.purchase-history.hidden {
	visibility: hidden;
	opacity: 0;
	height: 0;
}
.purchase-history {
	position: absolute;
	width: 350px;
	height: calc(100vh - 131px);
	opacity: 1;
	right: 0;
	bottom: 61px;
	overflow: hidden;
	transition: all 300ms;
}
.purchase-history:after {
	content: '';
	display: block;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #d0d1d5;
	top: calc(100% - 26px);
	right: 28px;
}
.purchase-history-wrapper .item-list {
	border: 1px solid #d0d1d5;
	padding: 10px;
	border-radius: 4px;
	transition: all 300ms;
	background: #ffffff;
	height: calc(100% - 25px);
	overflow-y: auto;
}